* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    padding: 25px 40px;
    background: linear-gradient(90deg, #1c2c80, #1c5de6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

main {
    height: calc(100svh - 8.2rem);
}

header h1 {
    font-size: 28px;
    letter-spacing: 1px;
}

h1 a {
    text-decoration: none;
    color: inherit;
}


.menu a {
    margin: 0 10px;
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.botoes .botao1 {
    background: #0c0f35;
    padding: 8px 18px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.botoes .botao2 {
    background: #0c0f35;
    padding: 8px 18px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
  
  .quiz-box {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
  }
  
  .option {
    padding: 10px;
    background: #eee;
    margin: 8px 0;
    border-radius: 5px;
  }